# ローカル固有設定
*.local
*.private

# OS生成ファイル
.DS_Store

# claude関連
!/CLAUDE.md
!/AGENTS.md
.mcp.json
debug*
statsig*
projects*
todos*
file-history*
shell-snapshots*
history.jsonl
settings.json
stats-cache.json
ide*
paste-cache
cache
/claude/plans
/claude/tasks
/claude/telemetry
